<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<button {{action "toggleModal"}}>Toggle Modal</button>

{{#if isShowingModal}}
  {{#custom-modal close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Oh hai there!
  {{/custom-modal}}
{{/if}}
